*{
    margin: 0px;
    padding: 0px;
    font-style: Myriad Pro;

}

body{

    background-color: lightpink;
    font-size: 17px;
}

body nav{

    width: auto;
    padding: 1em;
    background-color: white;
    height: 5em;

}

body nav ul{

    float: left;
    animation-name: goyang;
    animation-duration: 1s;
    position: relative;
}

body nav ul li a{

    text-decoration: none;
    color: black;
}

.aktif{

    background-color: lightpink;
    color: white;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 35px;
}

a:hover{
    background-color: lightpink;
    color: white;
    border-radius: 5px;
}

.a1:hover{

    background-color: white;
}

ul li{
    display: inline-block;
    position: relative;
    font-size: 50px;
    margin-top: 15px;
    padding-right: 50px;


}

ul .log1{

    padding-right: 0px;

}

ul .log{

    font-size: 30px;
    margin-left: 520px;
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 0px;
}

body .footer{

    background-color: white;
    height: 25px;

}

body .footer .copy{

    color: red;
    margin-top: 2px;
}

body .header{

    width: 1000px;
    margin: auto;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 800px;
    border-radius: 5px;
}

.header .judul{

    background-color: lightpink;
    margin-bottom: 20px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

h1{
    margin-left: 10px;
}

.li1{

    display: inline-block;
    position: relative;
    margin-top: 15px;
    padding-right: 15px;

}
