body{

    padding-top: 100px;
    background-color: lightpink;
    font-size: 17px;
}

body form{
    
    border: black 1px;
    padding: 1em;
    margin: 2em auto;
    width: 21em;
    background: skyblue;
    border-radius: 3px;
}

body form .firs{

    float: right;
}

body form .simpankata{

    color: yellow;

}

body form .simpan{

    background: greenyellow;
    font-weight: bolder;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

input{

    border: none;
    border-radius: 3px;
}